<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Mercado Libre</title>
   <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
   <link href="/css/style.css"rel="stylesheet" />
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body class="fondo" align="center">
   <header>
      <div class="logo-search-and-msj">
         <img src="/images/logo-mercado-liebre.svg" id="logo-mercado-liebre">
         <br>
         <div class="search">
            <input type="text" placeholder="Buscar productos, marcas" id="barra-de-busqueda"/>
            <button><i class="fa fa-search" id="logo-lupa"></i></button>
         </div>
         <h3 id="cecystdc"><img src="/images/hand-holding-dollar-solid.svg" align:"left" width="18px" height="15px">Comprá en cuotas y sin tarjeta de crédito</h3>
      </div>
      <div class="renglones">
         <div class="primer-renglon">
            <a href="#">Ofertas</a>
            <a href="#">Tiendas Oficiales</a>
            <a href="#">Vender</a>
            <a href="#">Ayuda</a>
         </div> 
         <br>
         <div class="segundo-renglon">
            <a href="/register">Creá tu cuenta<img src="/images/id-card-regular.svg" id="logos-renglones"></a>
            <a href="/login">Ingresá<img src="/images/right-to-bracket-solid.svg" id="logos-renglones"></a>
            <a href="#">Mis compras<img src="/images/cart-shopping-solid.svg" id="logos-renglones"></a>
         </div>
      </div>
      <br>
      <div class="burger-menu">
         <i class="fas fa-bars" id="hamburguesa"></i>
      </div>
      <div class="imagen-ml">
         <img src="/images/descarga.jpg" id="imagen-ml">
      </div>
    </header>
   <main> 
      <section>
         <h3 class="titulo">Basados en tu última visita</h3>
         <div class="contenedor-articulos">
         <article>
            <div class="article-sub">
               <div>
                  <img src="/images/img-cafetera-moulinex.jpg" id="imagen-article">
               </div>
            <div class="cajas">
                  <i class="fas fa-truck" id="logo"></i>
                  <div class="precios-descuento">
                     <p class="precios">$6.770</p>
                     <p class="descuento">40% OFF</p>
                  </div> 
                  <div class="nombre-producto">
                     <h4>Cafetera Moulinex</h4>
                  </div>             
               </div>  
            </div>
         </article>
         <article>
            <div class="article-sub">
               <div>
                  <img src="/images/img-macbook-pro-2019.jpg" id="imagen-article">
               </div>
               <div class="cajas">
                  <i class="fas fa-truck" id="logo"></i>
                  <div class="precios-descuento">
                     <p class="precios">$230.000</p>
                     <p class="descuento">20% off</p>
                  </div>   
                  <div class="nombre-producto"> 
                     <h4>MacBook Pro 2019</h4>
                  </div>
               </div>
            </div>
         </article>
         <article>
            <div class="article-sub">
               <div class="imagenes">
                  <img src="/images/img-samsung-galaxy-s10.jpg" id="imagen-article">
               </div>
               <div class="cajas">                            
                  <i class="fas fa-truck" id="logo"></i>              
                  <div class="precios-descuento">
                     <p class="precios">$70.500</p>
                     <p class="descuento">10% off</p>
                  </div>
                  <div class="nombre-producto">
                     <h4> Samsung Galaxy S10</h4>
                  </div>
               </div>
            </div>   
         </article>
         <article>
            <div class="article-sub">
               <div class="imagenes">
                  <img src="/images/img-tv-samsung-smart.jpg" id="imagen-article"> 
               </div>
               <div class="cajas">
                  <i class="fas fa-truck" id="logo"></i>
                  <div class="precios-descuento">
                     <p class="precios">$23.200</p>
                     <p class="descuento"> 5% off</p>
                  </div>   
                  <div class="nombre-producto">
                     <h4>SmartTv Samsung 43"</h4>
                  </div>
               </div>
            </div>
         </article>
      </div>
      </section>
         <br>
      <section>
         <h3 class="titulo">Sección de Ofertas</h3>
         <div class="contenedor-articulos">
         <article>
            <div class="article-sub">
               <div class="imagenes">
                  <img src="/images/img-cafetera-moulinex.jpg" id="imagen-article">
               </div>
               <div class="cajas">
                  <i class="fas fa-truck" id="logo"></i>
                  <div class="precios-descuento">
                     <p class="precios">$6.770</p>
                     <p class="descuento">40% off</p>
                  </div>   
                  <div class="nombre-producto">
                     <h4>Cafetera Moulinex</h4>
                  </div>
               </div> 
            </div>        
         </article>
         <article>
            <div class="article-sub">
               <div class="imagenes">
                  <img src="/images/img-macbook-pro-2019.jpg" id="imagen-article">
               </div>
               <div class="cajas">
                  <i class="fas fa-truck" id="logo"></i>
                  <div class="precios-descuento">
                     <p class="precios">$230.000</p>
                     <p class="descuento">20% off</p>
                  </div>  
                  <div class="nombre-producto">
                     <h4>MacBook Pro 2019</h4>
                  </div> 
               </div> 
            </div>   
         </article>
         <article>
            <div class="article-sub">
               <div class="imagenes">
                  <img src="/images/img-samsung-galaxy-s10.jpg" id="imagen-article">
               </div>
               <div class="cajas">
                  <i class="fas fa-truck" id="logo"></i>
                  <div class="precios-descuento">
                     <p class="precios">$70.500</p>
                     <p class="descuento">10% off</p>
                  </div>   
                  <div class="nombre-producto">
                     <h4> Samsung Galaxy S10</h4>
                  </div>
               </div>
            </div>
         </article>
         <article>
            <div class="article-sub">
               <div class="imagenes">
               <img src="/images/img-tv-samsung-smart.jpg" id="imagen-article">
               </div>
               <div class="cajas">
                  <i class="fas fa-truck" id="logo"></i>
                  <div class="precios-descuento">
                     <p class="precios">$23.200</p>
                     <p class="descuento">5% off</p>
                  </div>
                  <div class="nombre-producto">
                     <h4>SmartTv Samsung 43"</h4>
                  </div>
               </div> 
            </div>   
         </article>
      </section>
   </main>
   <footer>
      <div class="contenedor-footer-principales">
         <section class="contenedor-mensaje-footer">
            <i class="fas fa-credit-card" id="logos-1"></i>
            <h3>Pagá con tarjeta o en efectivo </h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin 
               interés con tarjeta o efectivo en puntos 
               de pago. ¡Y siempre es seguro!</p>
         </section>
         <section class="contenedor-mensaje-footer"> 
            <i class="fas fa-gift" id="logos-1"></i>    
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre
            tenés envíos gratis en miles de productos.
             Es un beneficio de Mercado Puntos.</p>        
         </section>
         <section class="contenedor-mensaje-footer">
            <i class="fas fa-user-shield" id="logos-1"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre,
            no hay nada que no puedas hacer, porque estás
             siempre protegid@.</p>
         </section>
      </div>
         <section class="contenedor-copyright-footer">
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
         </section>
   </footer>
</body>
</html>